# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development
*.db
*.sqlite3

# Folders
received_images/
.venv/
__pycache__/

# Environment
.env
.env.*
!.env.example
